body{
    font-family: 'Inter';
}
img#logo {
    height: 55px;
}
.card.main-login-card {
    padding: 50px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 30px;
}
.login-form-main {
    position: relative;
    background-image: url("../images/bg-ojt.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .login-form-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 83%);
  }
  a#signup-nav {
    background-color: #dbb550;
    padding: 9px 30px;
    border-radius: 23px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
}
a#login-nav {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
}
button.btn.btn-primary {
    padding: 10px 30px;
    border-radius: 50px;
    width: 100%;
    background-color: #dfb954;
    border: none;
}
form label  {
    padding: 10px 0px;
    color: #dfb954;
}
.form-check-input{
    margin-top: 13px ;
}
form h2 {
    text-align: center;
}
/* signup form */
.form-footer {
    padding-top: 30px;
}
.form-check {
    padding-top: 18px;
    padding-bottom: 20px;
}
p.error-message {
    color: red;
    font-size: 15px;
}
/* footer */
#footer-logo{
height: 55px;
}
.footer-links h3 {
    font-size: 17px;
    padding: 2px;
    text-decoration: none;
    color: #212529;
    padding-bottom: 10px;
    font-weight: 600;
}
footer a {
    font-size: 14px;
    padding: 2px;
    text-decoration: none ;
    color: #212529;
    padding-bottom: 10px;
}
.footer-sec {
    padding: 50px 0px;
    border-top: 1px solid #b7bbbfad;
}
.copyrights {
    border-top: 1px solid #b7bbbfad;
    text-align: center;
    padding: 20px 0px;
    font-size: 15px !important;
}
footer p {
    font-size: 14px !important;
    line-height: 1.6 !important;
    color: #212529 !important;
}
footer ul {
    list-style: none !important;
    padding-left: 0rem !important;
}
